.basicInput{
    margin: 10px auto;
    width: 500px;
}
.withResults{
    padding-left: 355px;
}

.basicInput input{
    font-size:1.1em;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    border: solid 1px #dcdcdc;
    text-align: center;
    transition: box-shadow 0.3s, border 0.3s;
}

.basicInput input:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.categories{
    min-width: 350px;
    width:350px;
    font-family: "Times New Roman", Times, serif;
}

.categories h1{
    text-align: center;
    color:gray;
    font-size:1.3em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    margin: 0 auto;
    font-size: 1em;
}

.center h1{
    margin-bottom: 5px;
    margin-top:0;
}

.left{
    float:left;
    height:100vh;
    overflow:auto;
    position: fixed;
    top: 0;
    bottom: 0;
    font-size: 0.9em;
}

.left h1{
    margin-top: 12px;
    margin-bottom: 10px;
}

.generalCategory{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.05em;
}

.generalSubCategory{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
}

.results{
    margin-left: 355px;
}

.result{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 5px 1px 25px 1px;
    width: 300px;
}

.result p{
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-size:0.8em;
    width: 300px;
    margin-left: 1px;
    margin-right: 1px;
}
.result img{
    width:300px;
    height: 300px;
}
